extends layout

block extra-headers
    link(rel='stylesheet', href='/css/modification.css')
    script.
        var result = "#{JSON.stringify(keySelectedGraph)}";
        result = JSON.parse(result.replace(/(&quot;)/g, '"').replace(/\r/g,""));
block content

    div#modification
        div.container

            div.row
                form#form-modif.col.s3
                    div.row
                        div.col.s12
                            h6 Design du graphique :
                        div.col.s12
                            p
                                label(for="default")
                                    input#default(type="radio" ,name="input", value="undefined", checked="")
                                    span Default
                            p
                                label(for="dark")
                                    input#dark(type="radio", name="input", value="dark")
                                    span Dark
                            p
                                label(for="excel")
                                    input#excel(type="radio", name="input", value="Excel")
                                    span Microsoft excel
                            p
                                label(for="ggplot2")
                                    input#ggplot2(type="radio", name="input", value="ggplot2")
                                    span ggplot2
                            p
                                label(for="quartz")
                                    input#quartz(type="radio", name="input", value="quartz")
                                    span Quartz
                            p
                                label(for="vox")
                                    input#vox(type="radio", name="input", value="vox")
                                    span Vox
                        div#modification-explain.col.s12
                            h6 Le saviez-vous ?
                            ul
                                li Placez votre curseur sur les données du graphique pour avoir plus de détails
                                li Plus les points sont foncés, plus il y a des données similaires


                div#modification-container.col.s9
                    div.row
                        div.col.s12
                           div#title-modif= keySelectedGraph.items[0]._spec.encodings[0].field +' / '+keySelectedGraph.items[0]._spec.encodings[1].field
                        div#selectedGraph
        div.row
            div.col.s6
            div.col.s2
                a.btn.waves-effect.waves-light.right.btn-size(href="/selection") Retour
                    i.material-icons.left keyboard_arrow_left
            div.col.s2
                a.btn.waves-effect.waves-light.right.btn-size(onclick=`modifGraph('${keySelectedGraph.items[0]._spec.encodings[0].field}','${keySelectedGraph.items[0]._spec.encodings[1].field}','${keySelectedGraph.items[0]._spec.encodings[0].type}','${keySelectedGraph.items[0]._spec.encodings[1].type}','${keySelectedGraph.items[0]._spec.mark}')`).right#btn-export Exporter
                    i.material-icons.right keyboard_arrow_right

    script(src="/js/modification.js", type="text/javascript")

