extends layout


block extra-headers
    link(rel='stylesheet', href='/css/selection.css')
    script.
        var results = !{JSON.stringify(keyResult).replace(/<\//g, '<\\/')}
        var dataFile = !{JSON.stringify(keyDim).replace(/<\//g, '<\\/')}

block content

    div#selection
        div.container
            h1 Selection de la visualisation
        div.row.container-selection
            div.col.s6
            div.input-field.col.s4
                select#select-filter
                    option(value="", disabled, selected) Choix de filtre
                    each filter in keyDim
                        option=filter[0]
            div.col.s2
                button.btn.waves-effect-waves-light(type="submit", name="action", onclick="applyFilter()") Chercher
            div.col.s6
                div#selection-table
                        table.highlight.responsive-table
                            thead
                                tr
                                    th Dimensions
                                    th Type
                                    th Somme
                                    th Moyenne
                                    th Visuel
                            tbody
                                each dim,i in keyDim
                                    tr
                                        td= dim[0]
                                        td= dim[1]
                                        td= dim[2]
                                        td= dim[3]
                                        td.single-graph(id="single"+i)
                div#total Nombre de ligne :&nbsp;
                    = keyDim.length
            div.col.s6
                div.row#wrapper
                    each result,index in keyResult
                        each item in result.items
                            div.col.s6.resize-graph.hover(id="graphFilter"+index)
                                div#graph-title= item._spec.encodings[0].field + " / " + item._spec.encodings[1].field
                                div(id="vis"+index).graph-padding(onclick=`selectGraph('${item._spec.encodings[0].field}','${item._spec.encodings[1].field}','${item._spec.encodings[0].type}','${item._spec.encodings[1].type}','${item._spec.mark}')`)



        div.row
            div.col.s6
            div.col.s2
                a.btn.waves-effect.waves-light.right(href="/importation") Retour
                    i.material-icons.left keyboard_arrow_left
            div.col.s2
                a.btn.waves-effect.waves-light.right(href="/modification") Suivant
                    i.material-icons.right keyboard_arrow_right


    script(src="/js/selection.js", type="text/javascript")

